body {
    background-color: rgb(38, 38, 39);
    color: white;
}

.logoNav {
    margin-left: 1.5em;
}

.carousel {
    border-radius: 2em;
}

.cardCustom {
    width: 48%;
    background-color: #f90;
    border-radius: 2em;
    margin: 1%;
}

.customNav {
    background-color: #f90;
}

.container {
    margin-top: 4em;
}

hr {
    background-color: #f90;
    border: 2px #f90 solid;
    width: 48px;
    margin: 10px 0 20px;
}

footer {
    background-color: #f90;
}

.iconCustom {
    text-align: center;
    margin-top: 1em;
}

.navLink {
    text-decoration: none;
    color: white;
}

.navLink:hover {
    color: rgb(38, 38, 39);
    text-decoration: none;
}